@using Nac.Mvc.Utilities;
@model CashStatus
<div asp-validation-summary="All" class="text-danger"></div>

<div>
    <label asp-for="Till" class="col-form-label"></label>
    <input asp-for="Till" class="form-control" />
    <span asp-validation-for="Till" class="text-danger"></span>
</div>
<div>
    <label asp-for="Type" class="col-form-label"></label>
    <input asp-for="Type" class="form-control" />
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
<div>
    <label asp-for="Description" class="col-form-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div>
    <label asp-for="_500" class="col-form-label"></label>
    <input asp-for="_500" class="form-control" />
    <span asp-validation-for="_500" class="text-danger"></span>
</div>

<div>
    <label asp-for="_200" class="col-form-label"></label>
    <input asp-for="_200" class="form-control" />
    <span asp-validation-for="_200" class="text-danger"></span>
</div>

<div>
    <label asp-for="_100" class="col-form-label"></label>
    <input asp-for="_100" class="form-control" />
    <span asp-validation-for="_100" class="text-danger"></span>
</div>

<div>
    <label asp-for="_50" class="col-form-label"></label>
    <input asp-for="_50" class="form-control" />
    <span asp-validation-for="_50" class="text-danger"></span>
</div>

<div>
    <label asp-for="_20" class="col-form-label"></label>
    <input asp-for="_20" class="form-control" />
    <span asp-validation-for="_20" class="text-danger"></span>
</div>

<div>
    <label asp-for="_10" class="col-form-label"></label>
    <input asp-for="_10" class="form-control" />
    <span asp-validation-for="_10" class="text-danger"></span>
</div>

<div>
    <label asp-for="_5" class="col-form-label"></label>
    <input asp-for="_5" class="form-control" />
    <span asp-validation-for="_5" class="text-danger"></span>
</div>

<div>
    <label asp-for="_2" class="col-form-label"></label>
    <input asp-for="_2" class="form-control" />
    <span asp-validation-for="_2" class="text-danger"></span>
</div>

<div>
    <label asp-for="_1" class="col-form-label"></label>
    <input asp-for="_1" class="form-control" />
    <span asp-validation-for="_1" class="text-danger"></span>
</div>

<div>
    <label asp-for="_050" class="col-form-label"></label>
    <input asp-for="_050" class="form-control" />
    <span asp-validation-for="_050" class="text-danger"></span>
</div>

<div>
    <label asp-for="_020" class="col-form-label"></label>
    <input asp-for="_020" class="form-control" />
    <span asp-validation-for="_020" class="text-danger"></span>
</div>

<div>
    <label asp-for="_010" class="col-form-label"></label>
    <input asp-for="_010" class="form-control" />
    <span asp-validation-for="_010" class="text-danger"></span>
</div>

<div>
    <label asp-for="_005" class="col-form-label"></label>
    <input asp-for="_005" class="form-control" />
    <span asp-validation-for="_005" class="text-danger"></span>
</div>

<div>
    <label asp-for="_002" class="col-form-label"></label>
    <input asp-for="_002" class="form-control" />
    <span asp-validation-for="_002" class="text-danger"></span>
</div>

<div>
    <label asp-for="_001" class="col-form-label"></label>
    <input asp-for="_001" class="form-control" />
    <span asp-validation-for="_001" class="text-danger"></span>
</div>
