@using Nac.Mvc.Utilities;
@model Product
<div asp-validation-summary="All" class="text-danger"></div>

<div>
    <label asp-for="Category" class="col-form-label"></label>
    <select asp-for="Category" autofocus class="form-control" asp-items="@ControllerHelper.ProductCategorySelectionList()" size="@ControllerHelper.ProductCategorySelectionList().Count()"></select>
    <span asp-validation-for="Category" class="text-danger"></span>
</div>
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <label asp-for="Price" class="col-form-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div>
    <label asp-for="PriceReduced" class="col-form-label"></label>
    <input asp-for="PriceReduced" class="form-control" />
    <span asp-validation-for="PriceReduced" class="text-danger"></span>
</div>
<div>
    <label asp-for="Delivered" class="col-form-label"></label>
    <input asp-for="Delivered" class="form-control" />
    <span asp-validation-for="Delivered" class="text-danger"></span>
</div>
<div>
    <label asp-for="Comment" class="col-form-label"></label>
    <input asp-for="Comment" class="form-control" />
    <span asp-validation-for="Comment" class="text-danger"></span>
</div>
<div>
    <label asp-for="Group" class="col-form-label"></label>
    <select asp-for="Group" class="form-control" asp-items="@ControllerHelper.ProductGroupSelectionList()" size="@ControllerHelper.ProductGroupSelectionList().Count()"></select>
    <span asp-validation-for="Group" class="text-danger"></span>
</div>
<div>
    <label asp-for="BarCode" class="col-form-label"></label>
    <input asp-for="BarCode" class="form-control" />
    <span asp-validation-for="BarCode" class="text-danger"></span>
</div>
