@using Nac.Lib.Utilities

<!-- Partials/_Menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@AssemblyProperties.GetProduct()</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navmenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div id="systemStatus" class="nav-link fw-bolder text-light" style="display: none;">System Status <span id="errorCounter">- OK</span></div>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" asp-area="" asp-controller="Invoices" asp-action="New">Kunde</a>
                </li>

                <li class="nav-item">
                    <div id="systemStatus" class="nav-link fw-bolder">|</div>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" asp-area="" asp-controller="Products" asp-action="Index">Produkte</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" asp-area="" asp-controller="Sellings" asp-action="Index">Verkäufe</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" asp-area="" asp-controller="Invoices" asp-action="Index">Rechnungen</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navmenuMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kasse
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navmenuMenuLink">
                        <li>
                            <a class="dropdown-item fw-bolder" asp-area="" asp-controller="CashStatus" asp-action="Index">Kassensturz</a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bolder" asp-area="" asp-controller="CashFlow" asp-action="Index">Entnahme/Einlage</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <div id="systemStatus" class="nav-link fw-bolder">|</div>
                </li>

                <partial name="Partials/_LoginMenu" />

            </ul>
        </div>
    </div>
</nav>
