[defaults]
inventory = hosts.ini
host_key_checking = False
private_key_file = ~/.ssh/id_ed25519_ansible_nac

#[ssh_connection]
#ssh_args = -F /home/heiko/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
#ssh_args = -F /home/heiko/.ssh/config -o ControlMaster=auto -o ControlPersist=60s -o RequestTTY=force
#pipelining = True

[privilege_escalation]
become = True
become_method = sudo
#become_flags = -H -S
#become_prompt = \[sudo: authenticate\] Password:
