:root {
    /*--nac-default-color: var(--bs-green);*/
    --nac-default-color: #198754;
    --nac-default-color-shade15: #157347;
    --nac-default-color-shade20: #146c43;
    --nac-default-color-shade25: #13653f;
    /*--nac-default-color-rgb: var(--bs-green-rgb);*/
    --nac-default-color-rgb: 25, 135, 84;
    --bs-body-font-size: 0.85rem;
    font-size: var(--bs-body-font-size);
    --bs-primary: var(--nac-default-color);
    --bs-primary-rgb: var(--nac-default-color-rgb);
    --bs-link-color: var(--nac-default-color);
    --bs-link-hover-color: var(--nac-default-color-shade20);
    --dt-row-selected: var(--nac-default-color-rgb);
    --dt-row-selected-link: 209, 231, 221; /* 80% lighter */
}

dd, dt {
    margin-bottom: 0.1rem;
}

th, td {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.btn-primary {
    --bs-btn-bg: var(--nac-default-color);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--nac-default-color);
    --bs-btn-disabled-border-color: var(--nac-default-color);
    --bs-btn-hover-bg: var(--nac-default-color-shade15);
    --bs-btn-hover-border-color: var(--nac-default-color-shade20);
    --bs-btn-active-bg: var(--nac-default-color-shade20);
    --bs-btn-active-border-color: var(--nac-default-color-shade25);
}

.pagination {
    --bs-pagination-active-bg: var(--nac-default-color);
    --bs-pagination-active-border-color: var(--nac-default-color);
}

/* in datatables.net searchbuilder hide the logic container, we are only doing AND */
.dtsb-logicContainer {
    display: none !important;
}
