@model IEnumerable<Selling>
@{
    ViewData["Title"] = "Index";
}
<h3>
    <span class="pe-2">Verkäufe</span>
    <item-create></item-create>
</h3>

<partial name="Partials/_SellingListPartial" model="@Model" />
